<title>SOSA</title>
<h1>Scoring and Ordering Students Application</h1>


<form action="compute" method="post">
    <textarea name="input1" rows="15" cols="30">You should write names of students in this field</textarea>
    <textarea name="input2" rows="15" cols="20">You should write scores of students in this field (0 to 100)</textarea>
    <textarea name="input3" rows="6" cols="14">You should write a limitation to pass the class        (normally is 60)</textarea>
    <textarea name="input4" rows="6" cols="14">You should write a standard deviation     (normally is 5)</textarea>
    <br>
    <input type="submit" value="Submit">
</form>
    <br>
Result : 
    <br>
    <textarea name="output" rows="20" cols="80">{{result}}</textarea>
